.about {
    height: 750px;
    background: url(../../img/bg/bg-second.png) no-repeat;
    padding-top: 70px;
    padding-bottom: 40px;
    &__title {
        text-align: center;
        color: #fff;
    }
    &__subtitle {
        text-align: center;
        margin-top: 30px;
        color:#fff;
        font-size: 16px;
    }
    &__inner {
        margin-top: 70px;
    }
    &__img {
        position: relative;
        width: 100%;
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    &__button {
        position: absolute;
        top: 175px;
        right: 410px;
        display: block;
        width: 300px;
        height: 100px;
        border: 2px solid #fff;
        border-radius: 50px;
        padding-top: 35px;
        padding-bottom: 20px;
        cursor: pointer;
        &:hover {
            box-shadow: 5px 10px 40px $main-color; 
        }
        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: #fff;
        }
    }
    &__form{
        // margin-top: 70px;
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 30px;
        min-height: 350px;
        &-title {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        &-subtitle {
            margin-top: 20px;
            font-style: 16px;
            font-weight: 400;
            color: #999999;
            text-align: center;
        }
        &-input {
            position: relative;
        }
        .form {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 300px 190px;
            justify-content: center;
            align-items: center;
            input {
                display: block;
                margin: 0 auto;
                width: 330px;
                height: 43px;
                border-top-left-radius:40px;
                border-bottom-left-radius:40px;
                border: #ebe8e88d;
                padding: 10px 20px 10px 30px;
                box-shadow: 1px 2px 3px 1px #999999;
                z-index: 4;
            }
            button {
                display: block;
                margin: 0 auto;
                width: 200px;
                height: 45px;
                background-color: $main-color;
                border-top-right-radius:40px;
                border-bottom-right-radius:40px;
                border: none;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                box-shadow: 1px 2px 3px 1px #999999;
                z-index: 5;
                cursor: pointer;

            }
            #email-error {
                position: absolute;
                top: 55px;
                left: 20px;
                text-align: center;
                width: 400px;
                font-size: 13px;
                color: red;
            }
        }
        &-data {
            margin-top: 45px;
            font-size: 13px;
            font-weight: 400;
            color: #999999;
            text-align: center;
        }
    }
}