.header {
    position: relative;
    height: 100vh;
    background: url(../../img/bg/bg-main.png) center center / cover no-repeat;
    .menu {
        display: flex;
        justify-content: end;
        padding-top: 40px;
        
        &__nav {
            display: flex;
            width: 585px;
            justify-content: space-between;
            a {
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                color: #fff;
                transition: 0.6s all;
                &:hover{
                    color: $main-color;
                }
            } 
            &-link{
                &_active {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 58px;
                        left: -11px;
                        width: 90px;
                        height: 3px;
                        background-color: #fff;
                        z-index: 2;
                    }
                }
            }       
        }
    }
    &__wrapper {
        margin: 0 auto;
        margin-top: 200px;
        width: 830px;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
    }
    &__title {
        font-size: 48px;
        font-weight: 800;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
    }
    &__button {
        margin: 0 auto;
        margin-top: 50px;
        a {
            color: #fff;
        }
    }
}