@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .create {
        &__items {
            grid-template-columns: repeat(2,355px);
            column-gap: 45px;
            row-gap: 25px;
        }
    }
    .high-dev {
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(2,450px);
            column-gap: 35px;
        }
        &__img {
            width: 485px;
            height: 390px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__projects {
            width: 100%;
            grid-template-columns: repeat(5,110px);
        }
        &__descr {
            font-size: 15px;
        }
    }
    .works {
        &__item {
            grid-template-columns: repeat(3,300px);
            column-gap: 25px;
        }
        &__items {
            &-img {
                img {
                    width: 300px;
                    height: 275px;
                }
            }
        }
    }
    .about {
        &__button {
            position: absolute;
            top: 175px;
            right: 330px;
        }
    }
    .footer {
        height: 100%;
        margin-top: 300px;
        &__wrapper {
            column-gap: 40px;
        }
        &__items {
            row-gap: 25px;
            &-title {
                margin-bottom: unset;
            }
        }
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__wrapper {
            width: 700px;
        }
        &__title {
            font-size: 40px;
        }
    }
    .create {
        &__inner {
            width: 100%;
        }
        &__items {
            grid-template-columns: repeat(2,355px);
            column-gap: 20px;
            row-gap: 25px;
        }
        &__item {
            column-gap: 20px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 30px;
        }
        &__button {
            margin-top: 45px;
        }
    }
    .title {
        font-size: 30px;
    }
    .high-dev {
        height: 700px;
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(2,330px);
            column-gap: 25px;
        }
        &__img {
            width: 360px;
            height: 305px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__title {
            font-size: 30px;
        }
        &__projects {
            width: 100%;
            grid-template-columns: repeat(5,110px);
            margin-top: 30px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .works {
        &__item {
            grid-template-columns: repeat(3,235px);
            column-gap: 15px;
        }
        &__items {
            &-img {
                img {
                    width: 230px;
                    height: 220px;
                }
            }
        }
        &__title {
            font-size: 30px;
        }
        .button {
            width: 185px;
        }
    }
    .about {
        padding-top: 55px;
        &__button {
            display: block;
            top: 120px;
            right: 230px;
            width: 260px;
            height: 90px;
        }
        &__subtitle {
            margin-top: 20px;
        }
    }
    .footer {
        height: 100%;
        margin-top: 200px;
        &__wrapper {
            grid-template-columns: 250px 200px;
            grid-template-rows: 200px 200px;
            justify-content: center;
            column-gap: 120px;
            row-gap: 40px;
        }
    }
}

@media(max-width: 768px) {
    .container{
        max-width: 500px;
    } 
    .header {
        &__wrapper {
            width: 500px;
        }
        &__title {
            font-size: 30px;
        }
        &__button {
            margin-top: 40px;
        }
        .menu {
            a {
                font-size: 14px;
            }
        }
    }
    .create {
        &__inner {
            width: 100%;
        }
        &__items {
            grid-template-columns: repeat(1,255px); 
            column-gap: 20px;
            row-gap: 35px;
        }
        &__item {
            column-gap: 30px;
            &-img{
                width: 120px;
                height: 105px;
                img {
                    width: 100%;
                    height: 100%;  
                }
            }
        }
        &__descr {
            font-size: 15px;
            margin-top: 30px;
        }
        &__button {
            margin-top: 45px;
        }
    }
    .title {
        font-size: 33px;
    }
    .high-dev {
        padding-top: 50px;
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(2,260px);
            column-gap: unset;
        }
        &__img {
            margin-top: 47px;
            width: 250px;
            height: 205px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__title {
            font-size: 20px;
        }
        &__projects {
            width: 100%;
            grid-template-columns: repeat(3,110px);
            row-gap: 30px;
            margin-top: 30px;
        }
        &__descr {
            font-size: 12px;
        }
        &__link {
            font-size: 13px;
        }
        &__item{
            &-title {
                font-size: 25px;
                margin-top: 6px;
            }
        }
    }
    .works {
        padding-top: 60px;
        background-size: 100% 100%;
        &__block {
            grid-template-columns: 100%;
            justify-content: center;
        }
        &__item {
            grid-template-columns: repeat(1,350px);
            column-gap: 15px;
            row-gap: 30px;
            justify-content: center;
            margin-top: 85px;
        }
        &__items {
            &-img {
                img {
                    width: 350px;
                    height: 300px;
                }
            }
            &-title{
                color: #fff;
            }
            &-text {
                font-size: 15px;
                color: #fff;
            }
            &-descr {
                display: grid;
                grid-template-rows: 20px 105px;
                justify-content: center;
                text-align: center;
                row-gap: 20px;
            }
            &-link {
                display: flex;
                justify-content: center;
                font-size: 19px;
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
        &__title {
            font-size: 30px;
        }
        .button {
            width: 185px;
        }
    }
    .about {
        padding-top: 55px;
        &__button {
            display: block;
            top: 80px;
            right: 165px;
            width: 180px;
            height: 70px;
            padding-top: 25px;
            padding-bottom: 10px;
            a {
                font-size: 14px;
            }
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__divider {
            margin-top: 185px;
        }
    }
    .footer {
        height: 100%;
        &__wrapper {
            grid-template-columns: 250px 200px;
            grid-template-rows: 200px 200px;
            justify-content: center;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
}


@media(max-width: 576px) {
    .container{
        width: 100%;
    } 
    .header {
        &__wrapper {
            width: 300px;
        }
        &__title {
            font-size: 27px;
        }
        &__button {
            margin-top: 30px;
        }
        .menu {
            position: fixed;
            right: -100%;
            width: 75%;
            height: 100vh;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.8);
            a {
                font-size: 16px;
            }
            &_active{
                right: 0;
            }
            &__nav {
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 70px;


                &-link {
                    margin-bottom: 25px;
                    &_active {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            &__social {
                position: absolute;
                display: block;
                bottom: 130px;
                img {
                    width: 33px;
                    height: 33px;
                }
            }
            .divider-social {
                position: absolute;
                bottom: 130px;
                display: block;
                width: 145px;
                height: 1px;
                margin-top: 85px;
                background-color: #E0E0E0;
            }
        }
        .hamburger {
            display: block;
            position: absolute;
            top: 30px;
            right: 20px;
            transform: translateY(-50%);
            width: 25px;
            height: 12px;
            z-index: 10;
            span {
                display: block;
                height: 4px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 5px;
                transition: 0.6s all;
            }
            &_active {
                span {
                    margin-bottom: -3px;
                    &:nth-child(1){ 
                        transform: rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .button {
        width: 180px;
        height: 45px;
        a {
            font-size: 13px;
        }
    }
    .divider-menu {
        display: none;
    }
    .create {
        &__inner {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        &__items {
            column-gap: 20px;
            row-gap: 10px;
            margin-top: 20px;
        }
        &__item {
            grid-template-columns: 85px 177px;
            column-gap: 10px;
            &-img{
                width: 80px;
                height: 80px;
                margin-top: 38px;
                img {
                    width: 100%;
                    height: 100%;  
                }
            }
            &-title {
                font-size: 14px;
            }
            &-subtitle {
                font-size: 11px;
            }
            &-descr {
                display: grid;
                grid-template-rows: 55px 60px;
            }
        }
        &__descr {
            font-size: 9px;
            margin-top: 15px;        
        }
        &__button {
            margin-top: 45px;
        }
    }
    .title {
        font-size: 20px;
        line-height: 25px;
    }
    .high-dev {
        padding-top: unset;
        height: 100%;
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(1,235px);
            grid-template-rows: repeat(2,255px);
            justify-content: center;
            column-gap: unset;
        }
        &__img {
            margin-top: 47px;
            width: 238px;
            height: 210px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__title {
            font-size: 20px;
        }
        &__projects {
            display: none;
        }
        &__descr {
            font-size: 12px;
        }
        &__link {
            font-size: 13px;
        }
        &__item{
            &-title {
                font-size: 25px;
                margin-top: 6px;
            }
        }
        &__divider {
            display: none;
        }
    }
    .works {
        &__block {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
        &__item {
            grid-template-columns: repeat(1,300px);
        }
        &__items {
            &-img {
                img {
                    width: 300px;
                    height: 275px;
                }
            }
            &-text {
                font-size: 13px;
            }
            &-link {
                font-size: 15px;
            }
            &-descr {
                grid-template-rows: 20px 70px;
            }
        }
    }
    .about {
        position: relative;
        padding-top: 55px;
        background-size: 300% 50%;
        margin: 0 auto;
        margin-top: 15px;
        &__inner {
            margin: 0 auto;
            margin-top: 25px;
        }
        &__img {
            position: relative;
            width: 320px;
            margin: 0 auto;
            img {
                display: none;
            }
        }
        &__button {
            position: absolute;
            display: block;
            top: 55px;
            right: 24%;
            width: 180px;
            height: 70px;
            padding-top: 25px;
            padding-bottom: 10px;
            a {
                font-size: 14px;
            }
        }
        &__title {
            color: #fff;
        }
        &__subtitle {
            color: #fff;
            margin-top: 20px;
        }
        &__divider {
            margin-top: 185px;
        }
        &__form {
            margin-top: 250px;
            &-title {
                font-size: 16px;
            }
            &-subtitle {
                font-size: 13px;
            }
            .form {
                grid-template-columns: repeat(2, 150px);
                input {
                    width: 150px;
                }
                button {
                    width: 150px;
                    font-size: 13px;
                }
                #email-error {
                    width: 100%;
                    font-size: 10px;
                }
            }
            &-data {
                font-size: 9px;
            }
        }
    }
    .divider {
        display: none;
    }
    .footer {
        margin-top: 10px;
        height: 100%;
        &__wrapper {
            grid-template-columns: 177px;
            grid-template-rows: 200px 200px 200px 200px ;
            justify-content: center;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
}

// @media(max-width: 420px) {
//     .container{
//         width: 100%;
//         padding: 0 10px;
//     } 
// }